################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/api/GetMessage
/.vs/uge4_fra_github/v16/.suo
*.json
